<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>수정하기</title>
</head>
<body>
<div>
    <div>
        <h1>수정하기</h1>
    </div>
    <form th:action = "@{/board/edit/{textsId} (textsId = ${textId})}" th:object="${textForm}" method="post">
        <div>
            <label th:for="title"> 제목 </label>
            <input type="text" th:field = "*{title}">
        </div>
        <div>
            <label th:for="content"> 내용 </label>
            <input type="text" th:field = "*{content}">
        </div>
        <button type="submit">수정</button>
    </form>
</div>
</body>
</html>